.Blockquote {
	position: relative;
	overflow: hidden;

	&:before {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 0;
	}

	.blockquote-content-wrapper {
		position: relative;
	}
	.quote-single {
		margin-top: 20px;
	}
	.quote-single, .quote-double {
		&:before {
			position: absolute;
			content: '“';
			top: 0;
			left: 0;
			font-size: 80px;
			font-weight: 600;
		}
	}
	.text-center.quote-single {
		&:before {
			left: 50%;
			transform: translateX(-50%);
		}
	}
	.quote-double {
		margin: 20px 0;

		&:after {
			position: absolute;
			content: '“';
			bottom: 0;
			right: 0;
			font-size: 80px;
			font-weight: 600;
			transform: rotate(180deg);
		}
	}
	.blockquote-content {
		font-size: 20px;
		margin-bottom: 20px;
		padding-left: 7px;
		padding-right: 7px;
	}
	.author-wrapper {
		padding-left: 7px;
		padding-right: 7px;

		span {
			display: block;
		}
		.author {
			font-weight: 700;
			letter-spacing: 1px;
			margin-bottom: 5px;
		}
	}
}