
/**
* ----------------------------------------------------------------------------------------
* Custom edits of simpleLightbox CSS
* ----------------------------------------------------------------------------------------
*/

.slbImageWrap:after {
    left: .8em;
    right: .8em;
    top: 5.8em;
    bottom: 5.8em;
    box-shadow: 0 0.7em 2em rgba(0,0,0,0.6);
    background: none;
}